@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>addedpage</title>
    <link href="@Url.Content("~/Content/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
</head>
<body>
    <h1>Cars</h1>

    <p>
        You have added a new car at @DateTime.Now.ToLongDateString()
    </p>
    <p>
        Return to @Html.ActionLink("Main List", "Cars")
    </p>
</body>
</html>
